<div class="flex justify-between items-center mx-4 my-3.5 bg-white font-inter font-normal text-sm">
<!-- Search -->
  <div class="flex bg-neutral_3_light-100 rounded w-1/4">
    <img src="../../../assets/icon/search.png" class="my-1.5 mx-2.5">
    <input
    type="text"
    placeholder="Search"
    class="w-full font-normal text-sm bg-neutral_3_light-100 outline-none my-1.5 mr-2.5">
  </div>

  <div class="flex items-center">
    <div class="flex">
      <button>
        <img src="../../../assets/icon/plus_btn.png" class="mr-2 hover:opacity-80">
      </button>
      <button>
        <img src="../../../assets/icon/i.png" class="mx-2 hover:opacity-75">
      </button>
      <button>
      <img src="../../../assets/icon/bell.png" class="mx-2 hover:opacity-75">
      </button>
      <button>
      <img src="../../../assets/icon/Expand.png" class="ml-2 hover:opacity-75">
      </button>
    </div>

    <div class="flex ml-2.5">
      <div class="flex mr-2">
        <select class="appearance-none text-neutral_1_text-700 overflow-ellipsis w-32 outline-none">
          <option>Cty cổ phần công nghệ TMT</option>
          <option>Cty cổ phần công nghệ TMT</option>
          <option>Cty cổ phần công nghệ TMT</option>
        </select>
        <img src="../../../../assets/icon/arrow-down-full.png" class="m-2">
      </div>

      <a href="#" class="">
        <img src="../../../assets/icon/Avatar.png" alt="">
      </a>

    </div>
  </div>
</div>
<div class="border-solid border-b bg-neutral_2_border-100"></div>
