<div  class="border-solid border-l border-r border-neutral_2_border-100 h-full flex flex-col">
  <div class="flex justify-between">
    <div class="flex">
      <!-- Avatar -->
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="my-2 ml-4 mr-3 h-12">
      <div class="block my-2.5 font-sans">
        <h2 class="pb-1 text-sm font-semibold">Nguyen Van Huy</h2>
        <p class="text-neutral_1_text-400 text-13px font-normal">Discription</p>
      </div>
    </div>

    <div class="flex py-3 px-4">
      <button class="hover:opacity-80">
        <img src="../../../assets/icon/call-voice.png" alt="call-voice" >
      </button>
      <button class="hover:opacity-80">
        <img src="../../../assets/icon/call-video.png" alt="call-video" class="mx-2">
      </button>
      <button class="hover:opacity-80">
        <img src="../../../assets/icon/more-info.png" alt="more-info">
      </button>
    </div>
  </div>

  <!-- Message -->

  <div class="flex flex-col bg-neutral_3_light-200 overflow-y-scroll scrollbar-hide font-normal">
    <p class="text-neutral_1_text-400 text-xs font-normal text-center py-4">Thứ 2, 14-02-2020</p>
    <div class="flex">
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="mx-4 w-9 h-9">
      <div class="block">
        <p class="bg-white rounded-lg rounded-tl-none text-sm py-2 px-4">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
        <p class="text-xs text-neutral_1_text-400 py-1">16:20</p>
      </div>
    </div>

    <div class="ml-auto">
      <p class="mt-2 mx-4 bg-primary-1 text-white rounded-lg rounded-br-none text-sm py-2 px-4">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
    </div>
    <p class="text-xs text-neutral_1_text-400 px-4 py-1 ml-auto">16:20</p>

    <div class="ml-auto">
      <div class="flex flex-col ml-auto mt-2 mr-4 rounded-lg rounded-br-none bg-primary-1 text-white">
        <p class="text-sm py-2 px-4">Thanh toán đơn hàng: INV1234567890</p>
        <button class="text-center py-1 mx-4 mb-2 bg-white rounded-lg text-primary-1 hover:bg-neutral_3_light-50">Button text</button>
      </div>
    </div>
    <p class="text-xs text-neutral_1_text-400 px-4 py-1 ml-auto">16:20</p>

    <div class="ml-auto">
      <div class=" flex items-center mt-2 mx-4">
        <button>
          <img src="../../../assets/icon/error-resend.png" class="w-4 h-4 mx-2.5">
        </button>
        <img src="../../../assets/icon/product-img.png">
      </div>
    </div>
    <p class="text-xs text-error-400 ml-auto mx-4 my-1">Chưa gửi được, nhấn để thử lại</p>

    <div class="ml-auto">
      <div class=" flex items-center mt-2">
        <button>
          <img src="../../../assets/icon/error-resend.png" class="w-4 h-4 mx-2.5">
        </button>
        <p class="mr-4 bg-primary-1 text-white rounded-lg rounded-br-none text-sm py-2 px-4">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
      </div>
    </div>
    <p class="text-xs text-error-400 ml-auto mx-4 my-1">Chưa gửi được, nhấn để thử lại</p>

    <div class="ml-auto">
      <div class=" flex items-center mt-2">
        <button>
          <img src="../../../assets/icon/error-resend.png" class="w-4 h-4 mx-2.5">
        </button>
        <p class="mr-4 bg-primary-1 text-white rounded-lg rounded-br-none text-sm py-2 px-4">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
      </div>
    </div>
    <p class="text-xs text-error-400 ml-auto mx-4 my-1">Chưa gửi được, nhấn để thử lại</p>

    <p class="text-neutral_1_text-400 text-xs font-normal text-center py-4">Thứ 2, 14-02-2020</p>
    <div class="flex">
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="mx-4 w-9 h-9">
      <div class="block">
        <p class="bg-white rounded-lg rounded-tl-none text-sm py-2 px-4">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
        <p class="text-xs text-neutral_1_text-400 py-1">16:20</p>
      </div>
    </div>

    <div class="ml-auto">
      <p class="mt-2 mx-4 bg-primary-1 text-white rounded-lg rounded-br-none text-sm py-2 px-4">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
    </div>
    <p class="text-xs text-neutral_1_text-400 px-4 py-1 ml-auto">16:20</p>

    <div class="ml-auto">
      <div class="flex flex-col ml-auto mt-2 mr-4 rounded-lg rounded-br-none bg-primary-1 text-white">
        <p class="text-sm py-2 px-4">Thanh toán đơn hàng: INV1234567890</p>
        <button class="text-center font-medium py-1 mx-4 mb-2 bg-white rounded-lg text-primary-1 hover:bg-neutral_3_light-50">Button text</button>
      </div>
    </div>
    <p class="text-xs text-neutral_1_text-400 px-4 py-1 ml-auto">16:20</p>

    <div class="ml-auto">
      <div class=" flex items-center mt-2 mx-4">
        <button>
          <img src="../../../assets/icon/error-resend.png" class="w-4 h-4 mx-2.5">
        </button>
        <img src="../../../assets/icon/product-img.png">
      </div>
    </div>
    <p class="text-xs text-error-400 ml-auto mx-4 my-1">Chưa gửi được, nhấn để thử lại</p>

    <div class="ml-auto">
      <div class=" flex items-center mt-2">
        <button>
          <img src="../../../assets/icon/error-resend.png" class="w-4 h-4 mx-2.5">
        </button>
        <p class="mr-4 bg-primary-1 text-white rounded-lg rounded-br-none text-sm py-2 px-4">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
      </div>
    </div>
    <p class="text-xs text-error-400 ml-auto mx-4 my-1">Chưa gửi được, nhấn để thử lại</p>

    <div class="ml-auto">
      <div class=" flex items-center mt-2">
        <button>
          <img src="../../../assets/icon/error-resend.png" class="w-4 h-4 mx-2.5">
        </button>
        <p class="mr-4 bg-primary-1 text-white rounded-lg rounded-br-none text-sm py-2 px-4">Shop ơi cho hỏi sản phẩm này hiện tại bên mình còn không ạ, em mua</p>
      </div>
    </div>
    <p class="text-xs text-error-400 ml-auto mx-4 my-1">Chưa gửi được, nhấn để thử lại</p>

  </div>

  <!-- Send message -->
  <div class="p-4 pb-6">
    <input
    type="text"
    placeholder="Nhập nội dung tin nhắn"
    class="text-neutral_1_text-700 text-sm font-normal w-full outline-none pb-11">
    <div class="flex justify-between pb-1">
      <div class="flex">
        <button>
          <img src="../../../assets/icon/like.png" alt="like" class="hover:opacity-80">
        </button>
        <button>
          <img src="../../../assets/icon/img-icon.png" alt="img" class="hover:opacity-80">
        </button>
        <button>
          <img src="../../../assets/icon/emoji.png" alt="emoji" class="hover:opacity-80">
        </button>
        <button>
          <img src="../../../assets/icon/chat-icon.png" alt="chat-icon" class="hover:opacity-80">
        </button>
        <button>
          <img src="../../../assets/icon/box.png" alt="box" class="hover:opacity-80">
        </button>
      </div>
      <div class="flex bg-primary-1 text-white rounded-full items-center hover:opacity-90 truncate">
        <img src="../../../assets/icon/send-icon.png" alt="send-icon" class="w-4 h-4 ml-4 mr-2 my-2.5">
        <button class="text-sm font-medium py-2 pr-4">Gửi tin nhắn</button>
      </div>
    </div>
  </div>

</div>
