<!-- Search/Filter -->
<div class="flex items-center py-15px px-4 font-normal text-sm">

  <img src="../../../assets/icon/search.png" alt="search" class=" absolute px-2.5 py-1.5">
  <input
  type="text"
  placeholder="Search"
  class="w-full font-normal text-sm border-solid border outline-none py-1.5 pl-10 pr-2 rounded">

  <button>
    <img
    src="../../../../../assets/icon/Filter-checked.png"
    alt="filter-icon"
    class="hover:opacity-90 ml-2">
  </button>

</div>

<div class="border-solid border-t bg-neutral_2_border-100 mx-4"></div>

<!-- Thao tác -->
<div class="flex py-3 px-4 gap-2 items-center font-medium text-sm">

  <input type="checkbox" class="form-checkbox w-4.5 h-4.5 rounded border-solid border border-neutral_2_border-100 text-primary-1 focus:border-neutral_2_border-100">

  <button class="flex pl-3 py-1.5 rounded-lg text-white justify-center items-center hover:opacity-90 bg-primary-1 truncate">
    <span class="flex px-3 items-center justify-center">
        Thao tác
      <img src="../../../assets/icon/arrow-down-primary.png" class="px-3" >
    </span>
  </button>

  <button class="flex py-1.5 pl-3 pr-9 truncate rounded-lg border-neutral_2_border-200 border-solid border items-center hover:bg-neutral_1_text-100">
    <span class="flex">
      Theo tin nhắn mới
      <img src="../../../assets/icon/arrow-down-black.png" class="pl-2 pr-2.5">
    </span>
  </button>

</div>

<!-- Message list -->
<div class="overflow-y-scroll scrollbar-hide h-full">

  <a class="flex hover:bg-neutral_3_light-50 px-4 relative" href="#" >
    <div class="absolute h-full left-0 border-solid border-primary-1 border-l-4"></div>
    <div class="flex border-solid border-t border-neutral_2_border-100">
      <!-- Avatar -->
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="mr-3 mt-4 h-12">
      <div class="block py-4">
        <h2 class="font-semibold text-sm pb-1.5">Nguyen Van Huy</h2>
        <p class="font-normal text-13px">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
      </div>
      <div class="flex flex-col justify-between pl-2 py-4">
        <p class="text-xs font-normal text-neutral_1_text-700">13:00</p>
        <p class=" bg-error-400 rounded-lg text-white text-xs font-semibold text-center">10</p>
      </div>
    </div>
  </a>


  <a class="flex hover:bg-neutral_3_light-50 px-4" href="#">
    <div class="flex border-solid border-t border-neutral_2_border-100">
      <!-- Avatar -->
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="mr-3 mt-4 h-12">
      <div class="block py-4">
        <h2 class="font-semibold text-sm pb-1.5">Nguyen Van Huy</h2>
        <p class="text-neutral_1_text-400 font-normal text-13px">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
      </div>
      <div class="flex flex-col justify-between pl-2 py-4">
        <p class="text-xs text-neutral_1_text-700 font-normal">13:00</p>
      </div>
    </div>

  </a>

  <a class="flex hover:bg-neutral_3_light-50 px-4" href="#">
    <div class="flex border-solid border-t border-neutral_2_border-100">
      <!-- Avatar -->
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="mr-3 mt-4 h-12">
      <div class="block py-4">
        <h2 class="font-semibold text-sm pb-1.5">Nguyen Van Huy</h2>
        <p class="text-neutral_1_text-400 font-normal text-13px">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
      </div>
      <div class="flex flex-col justify-between pl-2 py-4">
        <p class="text-xs text-neutral_1_text-700 font-normal">13:00</p>
      </div>
    </div>
  </a>

  <a class="flex hover:bg-neutral_3_light-50 px-4" href="#">
    <div class="flex border-solid border-t border-neutral_2_border-100">
      <!-- Avatar -->
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="mr-3 mt-4 h-12">
      <div class="block py-4">
        <h2 class="font-semibold text-sm pb-1.5">Nguyen Van Huy</h2>
        <p class="text-neutral_1_text-400 font-normal text-13px">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
      </div>
      <div class="flex flex-col justify-between pl-2 py-4">
        <p class="text-xs text-neutral_1_text-700 font-normal">13:00</p>
      </div>
    </div>
  </a>

  <a class="flex hover:bg-neutral_3_light-50 px-4" href="#">
    <div class="flex border-solid border-t border-neutral_2_border-100">
      <!-- Avatar -->
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="mr-3 mt-4 h-12">
      <div class="block py-4">
        <h2 class="font-semibold text-sm pb-1.5">Nguyen Van Huy</h2>
        <p class="text-neutral_1_text-400 font-normal text-13px">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
      </div>
      <div class="flex flex-col justify-between pl-2 py-4">
        <p class="text-xs text-neutral_1_text-700 font-normal">13:00</p>
      </div>
    </div>
  </a>

  <a class="flex hover:bg-neutral_3_light-50 px-4" href="#">
    <div class="flex border-solid border-t border-neutral_2_border-100">
      <!-- Avatar -->
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="mr-3 mt-4 h-12">
      <div class="block py-4">
        <h2 class="font-semibold text-sm pb-1.5">Nguyen Van Huy</h2>
        <p class="font-normal text-13px">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
      </div>
      <div class="flex flex-col justify-between pl-2 py-4">
        <p class="text-xs text-neutral_1_text-700 font-normal">13:00</p>
        <p class=" bg-error-400 rounded-lg text-white text-xs text-center font-semibold">10</p>
      </div>
    </div>
  </a>

  <a class="flex hover:bg-neutral_3_light-50 px-4" href="#">
    <div class="flex border-solid border-t border-neutral_2_border-100">
      <!-- Avatar -->
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="mr-3 mt-4 h-12">
      <div class="block py-4">
        <h2 class="font-semibold text-sm pb-1.5">Nguyen Van Huy</h2>
        <p class="font-normal text-13px">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
      </div>
      <div class="flex flex-col justify-between pl-2 py-4">
        <p class="text-xs text-neutral_1_text-700 font-normal">13:00</p>
        <p class=" bg-error-400 rounded-lg text-white text-xs text-center font-semibold">10</p>
      </div>
    </div>
  </a>

  <a class="flex hover:bg-neutral_3_light-50 px-4" href="#">
    <div class="flex border-solid border-t border-neutral_2_border-100">
      <!-- Avatar -->
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="mr-3 mt-4 h-12">
      <div class="block py-4">
        <h2 class="font-semibold text-sm pb-1.5">Nguyen Van Huy</h2>
        <p class="font-normal text-13px">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
      </div>
      <div class="flex flex-col justify-between pl-2 py-4">
        <p class="text-xs text-neutral_1_text-700 font-normal">13:00</p>
        <p class=" bg-error-400 rounded-lg text-white text-xs text-center font-semibold">10</p>
      </div>
    </div>
  </a>

  <a class="flex hover:bg-neutral_3_light-50 px-4" href="#">
    <div class="flex border-solid border-t border-neutral_2_border-100">
      <!-- Avatar -->
      <img
      src="../../../assets/icon/Avatar_customer.png"
      alt="Avatar"
      class="mr-3 mt-4 h-12">
      <div class="block py-4">
        <h2 class="font-semibold text-sm pb-1.5">Nguyen Van Huy</h2>
        <p class="font-normal text-13px">Hello AD, cho hỏi sản phẩm áo thun này còn không?</p>
      </div>
      <div class="flex flex-col justify-between pl-2 py-4">
        <p class="text-xs text-neutral_1_text-700 font-normal">13:00</p>
        <p class=" bg-error-400 rounded-lg text-white text-xs text-center font-semibold">10</p>
      </div>
    </div>
  </a>

</div>

